{{#resume.basics}}
	<section id="basics">
		<div id="basics-header-container">
			<div id="contact" class="section-container">
				<div class="summary-section">
					{{#if email}}
						<div class="email">
							<a href="mailto:{{email}}">{{email}}</a>
						</div>
					{{else}}
						{{#if phone}}
							<div class="phone">
								{{phone}}
							</div>
						{{else}}
							{{#if website}}
								<div class="website">
									<a href="{{website}}">{{cleanUrl website}}</a>
								</div>
							{{/if}}
						{{/if}}
					{{/if}}
				</div>
				<div class="full-section">
					{{#if website}}
						<div class="website">
							<a href="{{website}}">{{cleanUrl website}}</a>
						</div>
					{{/if}}
					{{#if phone}}
					<div class="phone">
						{{phone}}
					</div>
					{{/if}}
				</div>
			</div>
			{{#location}}
			<div id="location" class="section-container">
				<div class="summary-section">
					{{#if countryCode}}
					<div class="countryCode">
						{{countryCode}}
						{{#if region}}
							<span class="region">
								({{region}})
							</span>
						{{/if}}
					</div>
					{{/if}}
				</div>
				<div class="full-section">
					{{#if address}}
						<div class="address">
							{{address}}
						</div>
					{{/if}}
					{{#if city}}
						<div class="city">
							{{city}}
						</div>
					{{/if}}
					{{#if postalCode}}
					<div class="postalCode">
						{{postalCode}}
					</div>
					{{/if}}
				</div>
			</div>
			{{/location}}
		</div>
		{{#if summary}}
		<div class="summary">
			<p><em>{{{summary}}}</em></p>
		</div>
		{{/if}}
		{{#if profiles.length}}
		<section id="profiles">
			{{#each profiles}}
			<span class="item">
				{{#if username}}
					{{#if network}}
					<icon title="{{network}}" class="fa fa-{{lowercase network}}"></icon>
					<!-- <strong class="network">
						{{network}}
					</strong> -->
					{{/if}}
					<span class="username">
						<a href="{{absoluteUrl url}}">{{username}}</a>
					</span>
				{{else}}
					{{#if network}}
					<strong class="network">
						<a href="{{absoluteUrl url}}">{{network}}</a>
					</strong>
					{{/if}}
				{{/if}}
			</span>
			{{/each}}
		</section>
		{{/if}}
	</section>
{{/resume.basics}}
