{{#if resume.education.length}}
<section id="education">
	<p class="cross-heading">Education</p>
	{{#each resume.education}}
	<div class="item section-container">
		<div class="summary-section">
			{{#if institution}}
			<div class="institution">
				<icon class="fa fa-graduation-cap" aria-hidden="true"></icon>
				{{institution}}
			</div>
			{{/if}}
			{{> simpleDateRange}}
			{{#if area}}
			<div class="area">
				{{#if studyType}}
				<span class="studyType">
					<strong>{{studyType}}</strong>
				</span>
				{{/if}}
				({{area}})
			</div>
			{{/if}}
		</div>
		<div class="full-section">
			{{#if gpa}}
			<div class="gpa">
				<strong>GPA</strong> {{gpa}}
			</div>
				{{/if}}
				<div class="courses">
				{{#if courses.length}}
				<em>Courses</em>
				<ul>
					{{#each courses}}
					<li>{{.}}</li>
					{{/each}}
				</ul>
				{{/if}}
			</div>
		</div>
	</div>
	{{/each}}
</section>
{{/if}}
