{{#if resume.projects.length}}
<section id="work">
	<p class="cross-heading">Projects</p>
	{{#each resume.projects}}
	<div class="item section-container">
		<div class="summary-section">
			{{#if name}}
			<h3 class="name">
				{{#if type}}
					<icon title="{{type}}" class="project-icon fa {{projectTypeIcon type}}" aria-hidden="true"></icon>
				{{/if}}
				{{name}}
			</h3>
			{{/if}}
			{{#if description}}
			<div class="description">
				<em>{{description}}</em>
			</div>
			{{/if}}
			{{#if url}}
			<div class="url">
				<a href="{{absoluteUrl url}}">{{cleanUrl url}}</a>
			</div>
			{{/if}}
			{{#if entity}}
			<div class="entity">
				{{entity}}
			</div>
			{{/if}}
		</div>
		<div class="full-section">
			<!-- For spacing  -->
			<p></p>
			{{> date obj=this }}
			{{#if roles.length}}
			<ul class="roles">
				{{#each roles}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
			{{#if highlights.length}}
			<ul class="highlights">
				{{#each highlights}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
			{{#if keywords.length}}
			<ul class="keywords">
				{{#each keywords}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
	</div>
	{{/each}}
</section>
{{/if}}
