{{#if resume.publications.length}}
<section id="publications">
	<p class="cross-heading">Publications</p class="cross-heading">
	{{#each resume.publications}}
	<div class="item section-container">
			<div class="summary-section">
			{{#if name}}
				{{#if website}}
					<a href="{{absoluteUrl website}}"><strong>{{name}}</strong></a>
				{{else}}
					<strong>{{name}}</strong>
				{{/if}}
			{{/if}}
			{{> singleDate date=releaseDate}}
			{{#if publisher}}
				<div class="publisher">
					{{{publisher}}}
				</div>
			{{/if}}
		</div>
		<div class="full-section">
			{{#if summary}}
			<div class="summary">
				<p>{{{summary}}}</p>
			</div>
			{{/if}}
		</div>
	</div>
	{{/each}}
</section>
{{/if}}
