{{#if resume.work.length}}
<section id="work">
	<p class="cross-heading">Work</p>
	{{#each resume.work}}
	<div class="item section-container">
		<div class="summary-section">
			{{#if company}}
			<h3 class="name">
				{{company}}
			</h3>
			{{/if}}
			{{> date obj=this }}
			{{#if position}}
			<div class="position">
				{{position}}
			</div>
			{{/if}}
			{{#if website}}
			<div class="website">
				<a href="{{website}}">{{cleanUrl website}}</a>
			</div>
			{{/if}}
		</div>
		<div class="full-section">
			{{#if summary}}
			<div class="summary">
				<p><em>{{summary}}</em></p>
			</div>
			{{/if}}
			{{#if highlights.length}}
			<ul class="highlights">
				{{#each highlights}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
	</div>
	{{/each}}
</section>
{{/if}}
